@{
    @model IEnumerable<Products>;
    ViewBag.title = "Management Product";
}
<div class="row mt-4">
    <h4 class="mx-2">Management Product</h4>
    <a class="btn btn-success mx-2" asp-controller="Home" asp-action="Create">Create</a>
</div>
<div class="container">
    &NonBreakingSpace;
    <table class="table table-hover mt-3" id="tbProducts">
        <thead class="thead-dark">
            <tr>
                <th>Product Name</th>
                <th>Image</th>
                <th class="text-right">Product Price</th>
                <th class="text-right">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prod in Model)
            {
                <tr>
                    <td>@prod.NameProduct</td>
                    @*<td><img src="@Url.Content(product.ProductAvatar)" alt="@product.ProductName" style="width:50px; height:50px" /></td>*@
                    @*<td class="text-right">@product.ProductPrice.ToString("N0")₫</td>*@
                    <td class="text-right">
                        <a href='javascript:void(0);' title='edit product'><i class='fa fa-edit'></i></a>
                        <a href='javascript:void(0);' title='remove product'><i class='fa fa-trash'></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>